
header {background-color: gray; 
    width: 750px;
    color: white; 
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;}

body{font-family: Arial, Helvetica, sans-serif; width: 750px;}

#userInputStuff{text-align: right;}

#employees {text-align: left;}

table, th, td {
        border-top: black solid 1px;
        border-bottom: black solid 1px;
        border-left: black solid 1px;
        border-right: black solid 1px;
    border-collapse: collapse;}

#first { width: 150px}
#last {width: 150px}
#id {width: 75px}
#title {width: 150px}
#salary { width: 100px}
#delete {width: 100px}

.red{ background-color: red;}

#calculation {text-align: right; padding-top: 5px;
    padding-bottom: 5px; padding-right: 5px;}